
.img-overlay {
  height: 100%;
  width: 100%;
  z-index: 2; 
  background-size: cover;
  opacity: 1;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.image-header {
  position: relative;
  padding: 160px 0;
  overflow-x: hidden;
}

.image-header h1 {
  z-index: 4;
  color: #fff;
  position: relative;
  display: flex; 
  justify-content: center;
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 2.6px;
}

h1 {
  color: #6E54A3;
  font-size: 42px !important;
}

.image-header.home .img-overlay {
  background-image: url('./images/code-hack.png');
  opacity: 0.9;
  background-position: center 20%;
  background-size: cover;
  width: 100% !important;
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar {
  background-image: linear-gradient(to bottom right, #6E54A3, #53407A); 
}

.ui.secondary.pointing.menu .item {
  background-color: transparent;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.95);
}

i.icon.check.circle:before {
  content: "\f058";
  color: green;
}

.back-btn {
  color: #6E54A3;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: ease 0.5s;
}
.back-btn:hover {
  color: #53407A;
}
.countdown-section {
  background: #eee;
  margin: 20px 0;
  padding: 6% 0;
  text-align: center;
}

.group-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 30px 0 !important;
}

.group-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
.edit-buttons i {
  margin: 0 6px !important;
}

.submissions {
  max-width: 75% !important;
  margin: 0 auto;
}

.ftr-logo {
  max-width: 300px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .home-wrapper {
    display: block;
  }
}