
.img-overlay {
  height: 100%;
  width: 100%;
  z-index: 2; 
  background-size: cover;
  opacity: 1;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.image-header {
  position: relative;
  padding: 100px 0;
  overflow-x: hidden;
}

.image-header h1 {
  z-index: 4;
  color: #000;
  position: relative;
  display: flex; 
  justify-content: center;
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 2.6px;
}

.image-header.home .img-overlay {
  background-image: url('./images/gray-lab.png');
  opacity: 0.9;
  background-position: center 20%;
  background-size: contain;
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar {
  background-image: linear-gradient(to bottom right, #6E54A3, #53407A); 
}


.ui.secondary.pointing.menu .item {
  background-color: transparent;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.95);
}

i.icon.check.circle:before {
  content: "\f058";
  color: green;
}

@media (max-width: 768px) {
  .home-wrapper {
    display: block;
  }
}