
.img-overlay {
  height: 100%;
  width: 100%;
  z-index: 2; 
  background-size: cover;
  opacity: 1;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.image-header {
  position: relative;
  padding: 160px 0;
  overflow-x: hidden;
  background: none 0% 0% repeat scroll rgb(0, 0, 0);
}

.image-header h1 {
  z-index: 4;
  color: #fff;
  position: relative;
  display: flex; 
  justify-content: center;
  text-transform: uppercase;
  font-size: 64px;
  letter-spacing: 2.6px;
}

h1 {
  color: #6E54A3;
  font-size: 52px !important;
}

h2 {
  color: #222;
  font-size: 36px !important;
}

.image-header.home .img-overlay {
  background-image: url('./images/happy-hacking.jpg');
  opacity: 0.7;
  background-position: center 40%;
  background-size: cover;
  width: 100% !important;
}

.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar {
  padding: 15px 40px 0 40px;
  background-image: linear-gradient(to bottom right, #6E54A3, #53407A);
}

.ui.secondary.pointing.menu .item {
  background-color: transparent;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  color: rgba(255, 255, 255, 0.95);
  text-transform: uppercase;
}

i.icon.check.circle:before {
  content: "\f058";
  color: green;
}

.back-btn {
  color: #6E54A3;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: ease 0.5s;
}
.back-btn:hover {
  color: #53407A;
}
/*Timers*/
.countdown-section {
  background: #eee;
  margin: 20px;
  padding: 6em;
  text-align: center;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.countdown-item {
  color: #111;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 30px;
  margin: 10px;
  padding-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
}

.countdown-item span {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.group-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 30px 0 !important;
}

.group-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
.edit-buttons i {
  margin: 0 6px !important;
}

.submissions {
  max-width: 75% !important;
  margin: 0 auto;
}

.ftr-logo {
  max-width: 300px;
  margin: 0 auto;
}

.courses {
  width: 100em;
}
.course-name {
 text-decoration: underline;
}
.course-name a {
  color: #000 !important;
}
.timer {
  text-align: center;
}

.tasks {
  width: 100%;
}

.student-events a {
  color: #fff;
}
.student-events a:hover {
  color: #fff;
}
.task-wrapper {
  display: flex !important;
  justify-content: space-between;
}

.submission-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.submission-wrapper h4 span {
  text-transform: uppercase;
}

.submission-wrapper h5 span {
  text-transform: uppercase;
}

.group-name {
  margin: 20px;
  width: 50%;
  border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 5px 10px 8px 2px #bfbfbf;
  padding: 2em;
}

.repo-name {
  margin: 8px 0px;
}

.submission-date {

}

.event-name {
  text-decoration: underline;
  color: #6E54A3 !important;
}

@media (max-width: 900px) {
  .home-wrapper {
    display: block;
  }
  .submission-wrapper {
    display: block;
  }
  .group-name {
    width: 100%;
  }
}